body {
    background: white;
}

header {
    display: flex;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
}

header a {
    object-fit: contain;
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0 auto;
}

.abtsWord {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
}

p {
    font-family: Tahoma, Geneva, sans-serif;
}

a {
    color: black;
}
.Abts_logo {
    border-radius: 20px;
}

.right {
    text-align: right;
}