.button {
    background-color: rgb(241, 235, 235);
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 10%;
    cursor: pointer;
}
.ButtonDiv {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}